.login-box{
    width: 436px;
}
.login-title{
    font-family: TTNorms-Bold;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    color: #22304D;
}
.login-input-label{
    font-family: TTNorms-Medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 257% */
    color: #828282;
    text-align: left;
}
.login-signin-btn{
    font-family: TTNorms-Bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */
    color: #FFFFFF;
}
.login-remember-label{
    font-family: TTNorms-Regular;
    font-weight: 400;
    font-size: 12px;
    /* or 300% */
    color: #828282;
    text-align: left;
}

.login-forgot{
    font-family: TTNorms-Medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    /* or 257% */
    text-decoration-line: underline;
    color: #2281E0;
}
.login-label2{
    font-family: TTNorms-Medium;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */
    color: #666666;
}
.login-signup{
    font-family: TTNorms-Medium;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */
    text-decoration-line: underline;
    color: #2281E0;
}