@font-face {
    font-family: TTNorms-BlackItalic;
    src: url("/assets/fonts/TTNorms-BlackItalic.ttf");
  }

  @font-face {
    font-family: TTNorms-Bold;
    src: url("/assets/fonts/TTNorms-Bold.ttf");
  }
  @font-face {
    font-family: TTNorms-BoldItalic;
    src: url("/assets/fonts/TTNorms-BoldItalic.ttf");
  }
  @font-face {
    font-family: TTNorms-ExtraBold;
    src: url("/assets/fonts/TTNorms-ExtraBold.ttf");
  }
  @font-face {
    font-family: TTNorms-ExtraBoldItalic;
    src: url("/assets/fonts/TTNorms-ExtraBoldItalic.ttf");
  }
  @font-face {
    font-family: TTNorms-ExtraLight;
    src: url("/assets/fonts/TTNorms-ExtraLight.ttf");
  }
  @font-face {
    font-family: TTNorms-ExtraLightItalic;
    src: url("/assets/fonts/TTNorms-ExtraLightItalic.ttf");
  }
  @font-face {
    font-family: TTNorms-Heavy;
    src: url("/assets/fonts/TTNorms-Heavy.ttf");
  }
  @font-face {
    font-family: TTNorms-HeavyItalic;
    src: url("/assets/fonts/TTNorms-HeavyItalic.ttf");
  }
  @font-face {
    font-family: TTNorms-Italic;
    src: url("/assets/fonts/TTNorms-Italic.ttf");
  }
  @font-face {
    font-family: TTNorms-BoldItalic;
    src: url("/assets/fonts/TTNorms-Light.ttf");
  }
  @font-face {
    font-family: TTNorms-Light;
    src: url("/assets/fonts/TTNorms-Light.ttf");
  }
  @font-face {
    font-family: TTNorms-LightItalic;
    src: url("/assets/fonts/TTNorms-LightItalic.ttf");
  }
  @font-face {
    font-family: TTNorms-Medium;
    src: url("/assets/fonts/TTNorms-Medium.ttf");
  }
  @font-face {
    font-family: TTNorms-MediumItalic;
    src: url("/assets/fonts/TTNorms-MediumItalic.ttf");
  }

  @font-face {
    font-family: TTNorms-Thin;
    src: url("/assets/fonts/TTNorms-Thin.ttf");
  }
  @font-face {
    font-family: TTNorms-ThinItalic;
    src: url("/assets/fonts/TTNorms-ThinItalic.ttf");
  }